
<header>
    <nav class="header-nav">
        <a href="/" class="header-title">Study Track</a>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/session">Session</a></li>
            
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </ul>
    </nav>
</header>