
<header>
    <h1><a href="/">Study Track</a></h1>
    <nav class="header-nav">
        <ul>
            <li><a href="/session">Sessions</a></li>
            <li><a href="/session/new">SaveSession</a></li>
            <li><form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form></li>
        </ul>
        
    </nav>
</header>