<form action='/session' method="POST">
    <div>
        <div><label for="min">Minutes</label><input name="min" type="number"></div>
        <div><label for="description">Description</label><input name="description" type="text"></div>
        <div><label for="subject"></label>Subject<input type="text"></div>
    </div>
</form>