<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script defer src="/javascripts/index.js"></script>
    <script defer src="/javascripts/show.js"></script>
    <title>studyTrack</title>
</head>
    <body>
        <div class="container">
            <%- include('../partials/header.ejs') %>
            <div class="inner-container">
                <%- body %>
            </div>
        </div>
    </body>
</html>