<div class="save-session-interface">
    <h2>Save your study session</h2>
    <form action='/session' method="POST">
        <div class="labels-inputs">
            <div class="save-label"><label for="min" >Minutes:</label></div>
            <input name="min" type="number">
            <div class="save-label"><label for="subject">Subject:</label></div>
            <input name="subject" type="text">
            <div class="save-label"><label for="description">Description:</label></div>
            <textarea name="description"></textarea>
            <div class="save-label"></div>
            <div class="btn-flexbox"><button id="saveSessionBtn">Save</button></div>
        </div>
        
    </form>
</div>