<div>
    <br>
<form action='/session' method="POST">
    <h2>Save your study session</h2>
    <br>
    <div>
        <div><label for="min" >Minutes</label><input name="min" type="number"></div>
        <div><label for="subject"></label>Subject<input name="subject" type="text"></div>
        <div><label for="description">Description</label><textarea name="description"></textarea></div>
        <button id="endSessionBtn">Save session</button>
    </div>
</form>
</div>