
<% if (messages.error){%>
  <%= messages.error %>
<%}%>

<div class="interface">
  <h1>Welcome to StudyTrack</h1>
<div class="loginForm">
  <div>
    <h2>Login</h2>
  </div>
  <form action="/login" method="POST">
    <div class="inputField">
      <label for="username">Username</label>
      <input class="inputs" type="text" id="username" name="username" required>
    </div>
    <div class="inputField">
      <label for="password">Password</label>
      <input class="inputs" type="password" id="password" name="password" required>
    </div>
    <div class="loginBtn">
    <button id="loginBtn" type="submit">Login</button>
    </div>
  </form>
  <div class="registerbtn">
    <a href="/register">Register</a>
  </div>
</div>
</div>