<div class="interface">
<div class="title"><h2>Pomodoro</h2></div>
    
    <div class="session">
        <button class="sessionBtn" id="pomodoro">Study Time</button>
        <button class="sessionBtn" id="shortBreak">Short Break</button>
        <button class="sessionBtn" id="longBreak">Long Break</button>
    </div>
    
    
    <div class="clock">
        <div>
        <p id ="countdown"></p>
        </div>
        <div class="buttons">
            <button class="btn" id="start"><i class="far fa-play-circle"></i></button>
            <button class="btn" id="pause"><i class="far fa-pause-circle"></i></button>
            <button class="btn" id="reset"><i class="fas fa-history"></i></button>
            
        </div>
    </div>
    
    <div class="settings">
        <div class="settingField">
            <label for="Min">Study Time</label>   
            <input min="0" value="30" placeholder="Minutes" type="number" name="Min" id="pomodoroTime">
        </div>
        <div class="settingField">
            <label for="Min">Short Break</label>   
            <input min="1" value="5" placeholder="Minutes" type="number" name="Min" id="shortBreakTime">
        </div>
        <div class="settingField">
            <label for="Min">Long Break</label>   
            <input min="5" value="10" placeholder="Minutes" type="number" name="Min" id="longBreakTime">
        </div>
    </div> 
    <audio src="../public/schoolBell.mp3" id="alarm">  

