
<h1>Welcome to StudyTrack</h1>
<div class="interfacelogin">
  
<div class="authForm registerForm">
  <h2>Register</h2>
  <form action="/register" method="POST" class="formInterface">
    <div class="inputField">
      <label for="name">Name</label>
      <input  class="inputs" type="text" id="name" name="name" required>
    </div>
    <div class="inputField">
      <label for="username">Username</label>
      <input class="inputs" type="text" id="username" name="username" required>
    </div>
    <div class="inputField">
      <label for="password">Password</label>
      <input class="inputs" type="password"  id="username" name="password" required>
    </div>
    <div class="inputField">
      <label for="confirmPassword">Confirm Password</label>
      <input class="inputs" type="password"  id="username" name="confirmPassword" required>
    </div>
    <div class="loginBtn">
    <button id="loginBtn" type="submit">Register</button>
    </div>
  </form>
  <div class="registerbtn">
    <a href="/login">Login</a>
  </div>
</div>
</div>

