<div class="studySession">
<h2>Study Sessions</h2>
<div>
    <form action="/session" method="GET">
        <div>
            <label for="subject">Subject:</label>
            <input name="subject" type="text">
        </div>
        <div>
            <label for="after">After:</label>
            <input name="after" type="date">
        </div>
        <div>
            <label for="before">Before:</label>
            <input name="before" type="date">
        </div>
        <button type="submit">Search</button>
    </form>
</div>
<% if(sessions[0] == undefined){ %>
    You dont save any Sessions
<%}  else {%>
<table class="sessionTable">
    <tr>
        <th>Date</th>
        <th>Minutes</th>
        <!-- <th>Description</th> -->
        <th>Subject</th>
        <th>Details</th>
        
    </tr>
    <% sessions.forEach(session => { %>
        
        <tr>
            <td><%= session.sessionDate.toISOString().split('T')[0] %></td>
            <td><%= session.minutes %></td>
            <!-- <td style="white-space: pre-line">/*session.description</td> -->
            <td><%= session.subject %></td>
            <td><a href="/session/<%=session.id%>">Show</a></td>
            
        </tr>
    <% }) %>
</table>
</div>
<% }%>