<div class="form-session-interface">
    <h2>Search Sessions</h2>
    <div>
        <form action="/session" method="GET">
            <div class="labelsAndinputs">
                
                    <div class="form-label"><label for="subject">Subject:</label></div>
                    <input name="subject" type="text">
                
                    <div class="form-label"><label for="after">After:</label></div>
                    <input name="after" type="date">
                
                    <div class="form-label"><label for="before">Before:</label></div>
                    <input name="before" type="date">
                    
                    <div class="form-label"></div>
                    <div class="btn-flexbox"><button id="saveSessionBtn" type="submit">Search</button></div>
                    
            </div>
        </form>
    </div>
    <% if(sessions[0] == undefined){ %>
        You dont save any Sessions
    <%}  else {%>
    
    <div class="tableFlexbox">
        <h2>Study Sessions</h2>
        <table class="sessionTable" id="sessionTable">
            <tr>
                <th>Date</th>
                <th>Minutes</th>
                <!-- <th>Description</th> -->
                <th>Subject</th>
                <th>Details</th>
                
            </tr>
            <% sessions.forEach(session => { %>
                
                <tr>
                    <td><%= session.sessionDate.toISOString().split('T')[0] %></td>
                    <td><%= session.minutes %></td>
                    <!-- <td style="white-space: pre-line">/*session.description</td> -->
                    <td><%= session.subject %></td>
                    <td><a href="/session/<%=session.id%>">Show</a></td>
                    
                </tr>
            <% }) %>
        </table>
    </div>
    <% }%>
</div>