@import 'shared/login.css';

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


.displayNone{
    display: none;
}
.displaySessions{
    display:flex;
}

.sessionTable{
    text-align: center;
}

.sessionTable tr td{
    padding: 10px;
    border-bottom: 1px solid black;
}

