header{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.3rem;
    
}
header h1 a{
    margin-left: 1rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--color-text-light);
}
header h1 a:hover{
    color: var(--color-text-hover);
    font-weight: 900;
}
.header-nav{
    align-self: flex-end;
    display: flex;
    align-items: center;

}
.header-nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.header-nav ul li{
    margin: 0 5px;
    padding: 5px;
    
}
.header-nav ul li a{
    text-decoration: none;
    color: var(--color-text-light);
}
.header-nav ul li a:hover{
    color: var(--color-text-hover);
    font-weight: 900;
}

.logoutBtn{
    background-color: inherit;
    color: var(--color-text-light);
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
.logoutBtn:hover{
    color: red;
}

