*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

div.interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    width: 90vw;
    max-width: 700px;
    max-height: 900px;
    margin: auto;
    flex: 1;
}
.title h2{
    font-size: var(--title-font-size);
}
.title h2::after{
    content: "";
    width: 10px;
    background-color: black;
    height: 1px;
}

.session{
    display: flex;
    width: 145%;
    flex: 1;
    
}

.sessionBtn{
    margin: 2rem;
    flex: 1;
    height: 3rem;
    background-color: inherit;
    font-weight: bold;
    color: var(--color-text-light);
    font-size: 1.2rem;
    cursor: pointer;
    border: 0.2rem solid var(--border-color);
}
.sessionBtn:hover{
    color: var(--color-text-hover);
    border: var(--color-text-hover) solid 0.2rem;

}


.block{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.2rem;
    margin-bottom: 1rem;
    margin-top: 0;
    border-top: solid 0.2rem var(--border-color);
    border-bottom: solid 0.2rem var(--border-color);
    flex: 1;
}


.btn{
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--color-text-light);
    border: none;
    background-color: inherit;

    
}
.btn:hover{
    color: var(--color-text-hover)
}


.clock p{
    display: flex;
    flex: 1;
}

.clock{
    display: flex;
    text-align: center;
    border: var(--border-color) 0.4rem solid;
    height: 15vh;
    width: 35vw;
    max-width: 500px;
    /*min-width: 300px;
    min-height: 200px;
    
    max-height: 250px;*/
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 4rem;
    padding: 2rem 1rem;
    box-shadow: 8px 4px 4px black;
    border-radius: 10px;
    flex-direction: column;
    flex: 1;
    margin: 1rem;
}

.settings{
    display: flex;
    width: 150%;
    justify-content: center;
    flex: 1;
}
.settingField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex: 1;
}

.settings input{
    margin: 1rem;
    text-align: center;
    width: 30%;
    border-radius: 5px;
    color: var(--color-text-light);
    background-color: inherit;
    height: 2rem;
    font-weight: bold;
    border: var(--border-color) solid;
    text-decoration: none;
    font-size: 1rem;
}

/*configuração para remover arrows*/
input[type=number] {
    -moz-appearance: textfield;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }