*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

div.interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 90vw;
    max-width: 500px;
    margin: auto;
}
.title h1{
    text-align: center;
}
.title h1::after{
    content: "";
    width: 1px;
    background-color: black;
    height: 1px;
}

.session{
    display: flex;
    width: 150%;
    
}

.sessionBtn{
    flex: 1;
    height: 3rem;
    background-color: inherit;
    font-weight: bold;
    color: var(--color-text-light);
    font-size: 1.2rem;
    cursor: pointer;
    border: 0.2rem solid var(--border-color);
}
.sessionBtn:hover{
    color: var(--color-text-hover);
    border: var(--color-text-hover) solid 0.2rem;

}


.block{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.2rem;
    margin-bottom: 1rem;
    margin-top: 0;
    border-top: solid 0.2rem var(--border-color);
    border-bottom: solid 0.2rem var(--border-color);
}


.btn{
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--color-text-light);
    border: none;
    background-color: inherit;

    
}
.btn:hover{
    color: var(--color-text-hover)
}


.clock p{
    display: flex;
    flex: 1;
}

.clock{
    display: flex;
    text-align: center;
    border: var(--border-color) 0.5rem solid;
    height: 20vh;
    width: 30vw;
    min-width: 300px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 4rem;
    padding: 2rem 1rem;
    box-shadow: 8px 4px 4px black;
    border-radius: 10px;
    flex-direction: column;
    flex: 1;
    margin: 1rem;
}

.settings{
    display: flex;
    width: 1000%;
    justify-content: center;
}
.settingField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.settings input{
    margin: 3px;
    text-align: center;
    width: 30%;
    border-radius: 5px;
    color: var(--color-text-light);
    background-color: inherit;
    height: 2rem;
    font-weight: bold;
    border: var(--border-color) solid;
    text-decoration: none;
}

input[type=number] {
    -moz-appearance: textfield;
  }