*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

div.interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 670px;
    height: 550px;
    
    margin: auto;
    flex: 1;
}
.title h2{
    font-size: var(--title-font-size);
    margin-bottom: 50px;
}


.session{
    display: flex;
    width: 105%;
    flex: 1;
    justify-content: center;
    
}

.sessionBtn{
    width: 30%;
    height: 4rem;
    background-color: inherit;
    font-weight: bold;
    color: var(--color-text-light);
    font-size: 1.4rem;
    cursor: pointer;
    border: 0.2rem solid var(--border-color);
    margin: 0px 20px;
}
.sessionBtn:hover{
    color: var(--color-text-hover);
    border: var(--color-text-hover) solid 0.2rem;

}



.buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    margin-top: 1.2rem;
    border-top: solid 0.2rem var(--border-color);
    border-bottom: solid 0.2rem var(--border-color);
}


.btn{
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.8rem;
    color: var(--color-text-light);
    border: none;
    background-color: inherit;

    
}
.btn:hover{
    color: var(--color-text-hover)
}




.clock{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: var(--border-color) 0.3rem solid;
    justify-content: space-between;
    width: 420px;
   
    /*min-width: 300px;
    min-height: 200px;
    
    max-height: 250px;*/
    align-items: center;
    
    font-weight: bolder;
    font-size: 5.5rem;
    padding: 2.5rem 3rem;
    box-shadow: 6px 6px 4px black;
    border-radius: 10px;
   
    
    margin: 2rem;
    
}

.settings{
    display: flex;
    width: 100%;
    justify-content: center;
    flex: 1;
}
.settingField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex: 1;
    font-size: 1.3rem;
}

.settings input{
    margin: 1rem;
    text-align: center;
    width: 60px;
    border-radius: 5px;
    color: var(--color-text-light);
    background-color: inherit;
    height: 2rem;
    font-weight: bold;
    border: var(--border-color) solid;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px 0px;
}

/*configuração para remover arrows*/
input[type=number] {
    -moz-appearance: textfield;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }