.tableFlexbox{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


/*Table style*/
.sessionTable {
    
    border-collapse: collapse;
    width: 100vw;
    max-width: 900px;
  }
  
.sessionTable th,  .sessionTable td {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    
}

.sessionTable td a{
    
    cursor: pointer;
    color: var(--color-text-light);
    font-weight: 500;
}
.sessionTable td a:hover{
    color: var(--color-text-hover)
}

  
.sessionTable th {
    background-color: inherit;
    color: var(--color-text-hover);
    font-weight: 900;
    border-collapse: collapse;
}

