div.studySession{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

.studySession h2{
    margin-bottom: 40px;
    font-size: 2rem;
}

/*Table style*/
.sessionTable {
    border: 1px var(--border-color) solid;
    border-collapse: collapse;
    width: 100vw;
    max-width: 1100px;
  }
  
.sessionTable th,  .sessionTable td {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    border: 0.2rem solid var(--border-color);
}

.sessionTable td a{
    
    cursor: pointer;
    color: var(--color-text-light);
    font-weight: 500;
}
.sessionTable td a:hover{
    color: var(--color-text-hover)
}

  
.sessionTable th {
    background-color: inherit;
    color: var(--color-text-hover);
    font-weight: 900;
    border-collapse: collapse;
}

